.inline-title {
    display: inline;
}

.react-logo {
    vertical-align: middle;
    animation: logo-spin infinite 10s linear;
    height: 40px;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
