$base: 100px;
$height: 86px;
$baseHalved: ($base / 2);
$trigHeight: ($height * 2 / 3);
$upsideDownTrigHeight: ($height / 3);

.triangle {
  display: inline-block;
  background: transparent;
  width: 0px;
  height: 0px;
  border-left: $baseHalved solid transparent;
  border-right: $baseHalved solid transparent;
  border-bottom: $height solid;
  animation-iteration-count: infinite;
  margin-left: -$baseHalved;
}

.triangle.upside-down {
  border-top: $height solid;
  border-bottom: 0px;
}

$durationMin: 3;
$durationMax: 20;
$spinDuration: 1.5;

@for $time from $durationMin through $durationMax {
  $tenPercent: ($spinDuration / $time) * 10;
  $start: ($time - $spinDuration) / $time * 100;
  @keyframes spin-#{$time} {
    0% { transform: rotate(0deg);}
    #{$start}% { transform: rotate(0deg);}
    #{$start + $tenPercent}% { transform: rotate(-10deg);}
    #{100 - $tenPercent}% { transform: rotate(370deg);}
    100% { transform: rotate(360deg);}
  }
}

:export {
  durationMin: $durationMin;
  durationMax: $durationMax;
}
