.header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 1035; }

.header.header-hidden {
  top: -100px;
  visibility: hidden; }

.triangle {
  display: inline-block;
  background: transparent;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 86px solid;
  margin-left: -50px;
  opacity: 0.95; }

.triangle.upside-down {
  border-top: 86px solid;
  border-bottom: 0px; }

.circle, .atom-orbit-path, .atom-orbit-path-invisible, .atom-electron {
  border-radius: 50%; }

.atom-container {
  width: 200px;
  height: 200px; }

.atom-orbit-path, .atom-orbit-path-invisible {
  position: absolute;
  width: 60px;
  height: 140px;
  border: 6px solid white; }

.atom-orbit-path-invisible {
  border: none; }

.atom-electron {
  position: absolute;
  width: 36px;
  height: 36px; }

@-webkit-keyframes atomElectronOrbit {
  0% {
    top: calc(0% - 18px - 3px);
    left: calc(50% - 18px); }
  10% {
    top: calc(20% - 18px - 3px);
    left: calc(75% - 18px + 3px); }
  25% {
    top: calc(50% - 18px);
    left: calc(100% - 18px - 3px); }
  40% {
    top: calc(80% - 18px - 3px);
    left: calc(75% - 18px + 3px); }
  50% {
    top: calc(100% - 18px + 3px);
    left: calc(50% - 18px); }
  60% {
    top: calc(80% - 18px - 3px);
    left: calc(25% - 18px - 3px); }
  75% {
    top: calc(50% - 18px);
    left: calc(0% - 18px + 3px); }
  90% {
    top: calc(20% - 18px - 3px);
    left: calc(25% - 18px - 3px); }
  100% {
    top: calc(0% - 18px - 3px);
    left: calc(50% - 18px); } }

@keyframes atomElectronOrbit {
  0% {
    top: calc(0% - 18px - 3px);
    left: calc(50% - 18px); }
  10% {
    top: calc(20% - 18px - 3px);
    left: calc(75% - 18px + 3px); }
  25% {
    top: calc(50% - 18px);
    left: calc(100% - 18px - 3px); }
  40% {
    top: calc(80% - 18px - 3px);
    left: calc(75% - 18px + 3px); }
  50% {
    top: calc(100% - 18px + 3px);
    left: calc(50% - 18px); }
  60% {
    top: calc(80% - 18px - 3px);
    left: calc(25% - 18px - 3px); }
  75% {
    top: calc(50% - 18px);
    left: calc(0% - 18px + 3px); }
  90% {
    top: calc(20% - 18px - 3px);
    left: calc(25% - 18px - 3px); }
  100% {
    top: calc(0% - 18px - 3px);
    left: calc(50% - 18px); } }

.atom-electron-orbit {
  -webkit-animation: atomElectronOrbit 1s linear infinite;
          animation: atomElectronOrbit 1s linear infinite; }

