@import "Animations/Fade";
@import "Animations/Spin";
@import "Animations/Flip";
@import "Animations/Slide";
@import "Animations/HoverExpand";
@import "Animations/HoverShadow";

.animated {
    opacity: 0;
}

.show {
    opacity: 1;
}

@for $time from 1 through 20 {
    $duration: $time / 10 *1s;
    .duration-#{$time} {
        animation-duration: $duration;
        transition-duration: $duration;
    }
}

.ease-in {
    animation-timing-function: ease-in;
}

.linear {
    animation-timing-function: linear;
}
