@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$primary: #3800ff;
$secondary: #2800b0;
$tertiary: #190061;
$light: rgb(225, 224, 224);
$lighter: rgb(241, 240, 240);
$dark: #282828;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "light": $light,
    "lighter": $lighter,
    "dark": $dark
);

$body-bg: $lighter;

@import "Animation";

.nav-link {
  color: $light;
  transition: color 0.5s;
}

.nav-link:hover {
  color: $danger;
}

.nav-link.active {
  color: $info;
}

@for $pix from 0 through 100 {
  .top-#{$pix} {
    top: $pix + 0%;
  }
}

.margin-center {
  margin: auto;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in.fade-in-show {
  opacity: 1;
}

@import "~bootstrap/scss/bootstrap";

:export {
  themeColors: #{$theme-colors};
  gridBreakpoints: #{$grid-breakpoints};
}
