@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$primary: #3500D3;
$secondary: #240090;
$tertiary: #190061;
$light: rgb(225, 224, 224);
$dark: #282828;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "light": $light,
    "dark": $dark
);

$body-bg: $light;

.nav-link {
  color: $light;
  transition: color 0.5s;
}

.nav-link:hover {
  color: $danger;
}

.nav-link.active {
  color: $info;
}

@for $pix from 0 through 100 {
  .top-#{$pix} {
    top: $pix + 0%;
  }
}

@import "~bootstrap/scss/bootstrap";
