@import "Common";

.footer-title {
    display: inline;
    color: $text-muted;
}

.react-logo {
    vertical-align: middle;
    animation: logo-spin infinite 10s linear;
    height: 30px;
}

.footer-container {
    background-color: $light;
    padding-top: 15px;
    padding-bottom: 15px;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
