$base: 100px;
$height: 86px;
$baseHalved: ($base / 2);
$trigHeight: ($height * 2 / 3);
$upsideDownTrigHeight: ($height / 3);

.triangle {
  display: inline-block;
  background: transparent;
  width: 0px;
  height: 0px;
  border-left: $baseHalved solid transparent;
  border-right: $baseHalved solid transparent;
  border-bottom: $height solid;
  animation-iteration-count: infinite;
  margin-left: -$baseHalved;
  opacity: 0.4;
}

.triangle.upside-down {
  border-top: $height solid;
  border-bottom: 0px;
}
