$halfRotation: 90deg;
$fullRotation: 2 * $halfRotation;

@keyframes flipX {
    0% {
        transform: rotateX($halfRotation);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes flipY {
    0% {
        transform: rotateY($halfRotation);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes flipXFull {
    0% {
        transform: rotateX($fullRotation);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes flipYFull {
    0% {
        transform: rotateY($fullRotation);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.flip-x {
    animation: flipX 1s ease;
}

.flip-y {
    animation: flipY 1s ease;
}

.flip-x-full {
    animation: flipXFull 1s ease;
}

.flip-y-full {
    animation: flipYFull 1s ease;
}
