@import "../Common";

.hover-shadow-sm {
    &:hover {
        @extend .box-shadow-sm;
    }
}


.hover-expand {
    transition: transform 0.3s;
    animation-fill-mode: none !important; // force element to go back to normal after :hover ends (for Safari bug)
}

.hover-expand:hover {
    transform: scale(1.05);
}


.hover-invert-bg-light:hover {
    @extend .bg-primary;
    @extend .text-white;
}
