$slideAmount: 100%;

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-$slideAmount);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX($slideAmount);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-$slideAmount);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY($slideAmount);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left.show {
    animation: slideInLeft 1s ease;
}

.slide-in-right.show {
    animation: slideInRight 1s ease;
}

.slide-in-top.show {
    animation: slideInTop 1s ease;
}

.slide-in-bottom.show {
    animation: slideInBottom 1s ease;
}
