@use "sass:math";

$spinDurationMin: 3;
$spinDurationMax: 20;
$spinDuration: 1.5;

@for $time from $spinDurationMin through $spinDurationMax {
    $tenPercent: (math.div($spinDuration, $time) * 10) * 1%;
    $start: (math.div(($time - $spinDuration), $time) * 100) * 1%;
    @keyframes spin-#{$time} {
        0% { transform: rotate(0deg);}
        #{$start} { transform: rotate(0deg);}
        #{$start + $tenPercent} { transform: rotate(-10deg);}
        #{100 - $tenPercent} { transform: rotate(370deg);}
        100% { transform: rotate(360deg);}
    }
}

@keyframes spinInfinite {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-infinite {
    animation: spinInfinite infinite linear;
}

:export {
    spinDurationMin: $spinDurationMin;
    spinDurationMax: $spinDurationMax;
}
